.box {
    border: #444 solid 1px;
    width: 95%;
    cursor: pointer;
    padding: 10px;
    position: relative;
    color: white;
}

.balken {
    position: absolute;
    top: 0;
    left: -2px;
    width: 0;
    height: 100%;
    border-right: red solid 2px;
    background: #cccccc;
    opacity: 0.5;
    z-index: 1;
}

body {
    background: #1e2125;
    color: white;
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}

.text-shadow .btn {
    text-shadow: none;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

.stopbutton {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
}

.playbutton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
}

input {
    width: 60%;
}

.transparent {
    opacity: .3;
}

#cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
}

.sticky-element {
    position: fixed;
    bottom: 5px;
    z-index: 99999;
    height: 40vh;
    max-width: 95%;
}

.sticky-settings {
    position: fixed;
    top: 5px;
    z-index: 99999;
    height: 65vh;
    overflow: auto;
    width: 90%;
    max-width: 90%;
}
.lang {
    display: none;
}


#lightshowbutton {
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 99999;
}

@keyframes blink{
    0%{background: #FFE87C;}
    40%{background: #FFE87C;}
    41%{background:black;}
    100%{background:black;}
}

#lightshow {
    display:none;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    text-align: right;

    animation-name:blink;
    animation-duration:1000s;
    animation-iteration-count:infinite;
}