.box {
    border: #444 solid 1px;
    width: 95%;
    cursor: pointer;
    padding: 10px;
    position: relative;
    color: white;
}

.balken {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #cccccc;
    opacity: 0.5;
    z-index: 1;
}
body {
    background: #1e2125;
    color: white;
}
.text-shadow {
    text-shadow: 2px 2px #000000;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
.stopbutton {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
}
.playbutton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20%;
}
input {
    width: 60%;
}
.transparent {
    opacity: .3;
}